/* General page styles */
body {
    font-family: Arial, sans-serif;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Form container */
form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
}

/* Form heading */
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Input fields */
input[type="email"],
input[type="password"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

/* Submit button */
button {
    background-color: #008CBA;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Submit button hover effect */
button:hover {
    background-color: #007bb5;
}

/* Error message */
#loginErrorMessage {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
}
